#game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin: 20px auto;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}


.cell {
    width: 100px;
    height: 100px;
    background: #d0ebe4;
    font-size: 2em;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
}